@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
*{
    box-sizing: border-box;
}
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
.banner{
    background-image: url(../images/banner1.jpg);
    background-repeat: no-repeat;
    height: 660px;
    background-size: cover;
}

nav{
    padding: 0;
    margin: 0;
}
.jumbotron-header {
    
    padding: 10px 0px;
}
.navLink{
   font-family: 'Montserrat', sans-serif;
   color: #ffffff;
   font-size: 15px;
   text-decoration: none;
}
.navLink:hover{
   text-decoration: none; 
   color: #00b59f;
}
.active1{
   color: #00b59f;  
}
.jumbotron-footer{
   background:#060506 !important;
	border-radius: 0px !important;
	background-repeat: no-repeat;
    background-size: cover;
	text-align:left;
	padding: 100px 0px 40px 0px !important;
    margin: 0px;
}
.footer-heading{
	color: #fff;
	font-size:16px;
	text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
	 font-family: 'Montserrat', sans-serif;
 
}
.footer-links{
	color: #eee;
	font-size:14px;
	text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 0px 8px 0px;
    line-height: 32px !important;
}
.footer-links:hover{
	color: #fff !important;
    text-decoration: none;
}
.footer-social-icon{
    color: #fff;
    font-size: 15px;
}
.logo{
     color: #00b59f !important;
     font-weight: bold;
     font-family: 'Montserrat', sans-serif;
     font-size: 26px;
     letter-spacing: 2px;
}
.bigHeading{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 58px;
    font-weight: bold;
    letter-spacing: 1px;
    
}
.consulButton{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #00b59f;
    padding: 12px 19px;
    font-weight: bold;
}
.consulButton:hover{
    border: 2px solid  #00b59f;
    background-color: transparent;
    color: #000000;
    text-decoration: none;
}
.bannerSide{
   background-color: #99fff3;
   height: 659px;
   width: 100%;
   margin-top: -124px;
}
.logoCnt{
    margin-top: 57px;
    margin-left: 134px;
}
.topM{
    margin-top: 180px;
}
.greyBack{
   background-color: #f2f2f2;
    padding: 40px 0px;
}
.serviceHead{
   font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
}
.subHeading1Grey{
   color:  #666666;
    letter-spacing: 0px;
    font-size: 15px;
    text-transform:capitalize;
    font-family: 'Montserrat', sans-serif;
}
.subHeading{
    font-family: 'Montserrat', sans-serif;
    color: #00b59f;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}
.serviceHeadSmall{
    font-size: 21px;
}
.iconBox{
flex: 0 0 70px;
width: 100px;
height: 100px;
position: relative;
border-radius: 50%;
background-color:#b8b0b0;
margin-right: 20px;  
 margin-bottom: 15px;
}
.icon{
    color: #ffffff;
display: inline-block;
position: absolute;
top: 31%;
font-size: 40px;
left: 30%;
}




/* Extra small devices (phones, 300px and down)  start*/
@media only screen and (max-width: 300px) {
   
    
}


/* Extra small devices (phones, 320px and down)  start */
@media only screen and (max-width: 320px) {
 .banner{
        height: 560px !important;
    }
    .bigHeading{
        font-size: 22px !important;
    }
   

}


/* Medium devices ( 767px and down) start */
@media only screen and (max-width: 767px){ 
   
    .banner{
        height: 520px;
    }
    
}



/* Medium devices (landscape tablets, 768px and up)  start*/
@media only screen and (min-width: 768px) {
    .colorBack{
        height: auto;
    }
    
}
    

/* Medium devices ( 768px and down) start */
@media only screen and (max-width: 768px){ 
    .bigHeading{
        font-size: 30px;
    }
    .navLink{
      padding: 0px 7px;     
    }
   
}



/* Large devices (laptops/desktops, 992px and up)  start*/
@media only screen and (min-width: 992px) {
 .navLink{
    padding: 0px 7px;     
  }
 
    
}



/* Extra large devices (large laptops and desktops, 1200px and up)  start*/
@media only screen and (min-width: 1200px) {
.navLink{
    padding: 0px 14px;     
  }
 
}
